<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Pocketmouse</title>
    <link rel="stylesheet" href="include/style.css">
    <link rel="stylesheet" href="include/form_input.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <!--<script src="https://kit.fontawesome.com/e7e4ac343a.js" crossorigin="anonymous"></script>-->
    <link href="include/fontawesome/css/fontawesome.css" rel="stylesheet">
    <link href="include/fontawesome/css/brands.css" rel="stylesheet">
    <link href="include/fontawesome/css/solid.css" rel="stylesheet">
</head>

<body class="modal-open">
    <div class="navbar">
        <a href="/" <%if(active=="Tasks" ){%>class="active"<%}%>><i class="fa-solid fa-list-check"></i> Tasks</a>
        <a href="/create" <%if(active=="Create" ){%>class="active"<%}%>><i class="fa-solid fa-plus"></i> Create</a>
        <a href="/archive" <%if(active=="Archive" ){%>class="active"<%}%>><i class="fa-solid fa-box-archive"></i> Archive</a>
        <a href="#" <%if(active=="Delete" ){%>class="active"<%}%>><i class="fa fa-fw fa-user"></i> Misc <%=active%></a>
    </div>