<fieldset>
    <input placeholder="Task Name" type="text" tabindex="1" required autofocus name="name" value="<%=task.name%>">
</fieldset>
<fieldset>
    <input placeholder="Task Icon" type="text" tabindex="2" required name="icon">
</fieldset>
<fieldset>
    <textarea placeholder="Summary / Descriptions here" tabindex="3" name="description" required></textarea>
</fieldset>
<fieldset>
    <button name="submit" type="submit" id="pocketmouse-submit" data-submit="...Sending">Submit</button>
</fieldset>